<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="default.ashx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="WeatherKey" value="zmi7inysvvvsmqww" />
    <add key="WeatherUID" value="U2718C8451"/>
    <add key="Appid" value="wx16aa7792a301b240"/>
    <add key="AppSecret" value="2008cb542899b05bc494d181b6e50c2d"/>
    <!--lIX3C3MRUs5MCcFxLVf_a3E0gBRFjGI8KKVwA4gt7VdpBgEhw3Kw9lrZtT36DGAVDnwzJpeB9ZQvxaGy-RvUI58YbKfIjIBCA3EwPzRnyOn_HXgQxrMtBcVtIAXunND6LHGbAHAVRQ-->
  </appSettings>
</configuration>